@model Project_Admin.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br /><br />
    <h4>Ürünü silmek istediğinizden emin misiniz?</h4>
    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Available)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Available)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ImageUrl)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Categories)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Categories.ProductId)
            </dd>
        </dl>
        <form asp-action="Sil">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Ürün Listesine Geri Dön</a>
        </form>
    </div>
</div>
